.section_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.exp_div:hover{
    box-shadow: rgb(144,205,244) 0px 19px 38px, rgb(144,205,244) 0px 15px 12px;
}