.section_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}
.calender_div{
border-radius: 13px;
width: 70%;
text-align: center;
margin: auto;
margin-bottom: 60px;
padding: 15px;
box-shadow: rgb(144,205,244) 0px 10px 20px,rgb(144,205,244) 0px 6px 6px;
}
.calender_div:hover{
    box-shadow: rgb(4, 137, 219) 0px 10px 20px,rgb(1, 92, 148) 0px 6px 6px;
}